.blog-list {
  padding: 20px;
}

.blog-cards {
  top:auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  padding-top: 150px;
  gap: 80px; /* Increase the space between cards */
}

.blog-card {
  background-color: #fff; /* Slightly increased padding */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 100%; /* Ensure the card takes up the full width available */
  max-width: 685px; /* Set a max-width so it doesn't stretch too much */
  margin: 0 auto; /* Center the card horizontally */
}


.blog-card:hover {
  transform: scale(1.05);
}

.loading {
  text-align: center;
  margin-top: 20px;
}

.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.header-container {
  position: relative;
  top: 3rem;
  padding: 30px;
  display: flex;
  justify-content: space-between; /* Space between the header and search bar */
  align-items: center; /* Vertically centers the content */
  margin-bottom: 20px; /* Adds space below the header */
}

.header-title {
  font-size: 50px;
  font-weight: bold;
  left: 0.8rem;
  position: absolute;
  margin: 0; /* Removes any default margin */
}

.search-container {
  display: flex;
  justify-content: flex-end; /* Aligns search bar to the right */
  align-items: center;
  padding: 1rem;
  width: 100%; /* Ensure the container takes the full width */
  box-sizing: border-box;
}

.blog-search-bar {
  width: 33%; /* Adjust as needed */
  font-size: 25px;
  border-radius: 5px;
  outline: none;
  margin-right: 1rem;
}

.search-button {
  position: relative;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.blog-search-bar::placeholder {
  color: black; /* Change this to your desired placeholder color */
}


